# <a id='toc1_'></a>[Data Analysis](#toc0_)

Name
Topic
email
June 4th, 2023

**Table of contents**<a id='toc0_'></a>    
- [Data Analysis](#toc1_)    
- [1. Introduction](#toc2_)    
  - [1.1. Key Questions](#toc2_1_)    
- [2. Setup and Data Collection](#toc3_)    
- [3. Methods and Assumptions](#toc4_)    
- [4. Basic Analysis](#toc5_)    
  - [4.1. Data Preparation](#toc5_1_)    
  - [4.2. Exploratory Data Analysis](#toc5_2_)    
- [5. Statistical Analysis](#toc6_)    
  - [5.1. Hypothesis Testing](#toc6_1_)    
- [6. Advanced Statistical Analysis](#toc7_)    
  - [6.1. Regression or Classification](#toc7_1_)    
- [7. Key Findings](#toc8_)    
- [8. Recommendations](#toc9_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

# <a id='toc2_'></a>[1. Introduction](#toc0_)

## <a id='toc2_1_'></a>[1.1. Key Questions](#toc0_)


# <a id='toc3_'></a>[2. Setup and Data Collection](#toc0_)

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import re

# initialize styling params
plt.rcParams['figure.figsize'] = (8.0, 6.0) #setting figure size

# Load the data

# Display the first few rows of the dataframe

,Year,Week,Address Block,Trap,Trap type,Date,Mosquito number,WNV Present,Species,Lat,Lon,Month
0,2019,39,100XX W OHARE AIRPORT,T910,GRAVID,2019-09-26 00:09:00,2,negative,CULEX RESTUANS,41.977738,-87.880969,9
1,2019,39,52XX S KOLMAR AVE,T114,GRAVID,2019-09-26 00:09:00,1,negative,CULEX RESTUANS,41.798211,-87.736925,9
2,2019,39,58XX N WESTERN AVE,T028,GRAVID,2019-09-26 00:09:00,2,negative,CULEX RESTUANS,41.987245,-87.689417,9
3,2019,39,39XX N SPRINGFIELD AVE,T228,GRAVID,2019-09-26 00:09:00,1,negative,CULEX RESTUANS,41.953664,-87.724987,9
4,2019,39,131XX S BRANDON AVE,T209,GRAVID,2019-09-26 00:09:00,9,negative,CULEX RESTUANS,41.657069,-87.546049,9


# <a id='toc4_'></a>[3. Methods and Assumptions](#toc0_)

This section will describe the methods and techniques used in the analysis.


# <a id='toc5_'></a>[4. Basic Analysis](#toc0_)

In this section, we will perform some basic data analysis.


## <a id='toc5_1_'></a>[4.1. Data Preparation](#toc0_)


## <a id='toc5_2_'></a>[4.2. Exploratory Data Analysis](#toc0_)


# <a id='toc6_'></a>[5. Statistical Analysis](#toc0_)

In this section, we will perform some statistical analysis on the data.


## <a id='toc6_1_'></a>[5.1. Hypothesis Testing](#toc0_)

- Test for a statistically significant difference


# <a id='toc7_'></a>[6. Advanced Statistical Analysis](#toc0_)

In this section, we will perform some advanced statistical analysis on the data.


## <a id='toc7_1_'></a>[6.1. Regression or Classification](#toc0_)

# <a id='toc8_'></a>[7. Key Findings](#toc0_)

Summarize the findings from the analyses.


# <a id='toc9_'></a>[8. Recommendations](#toc0_)